@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* form */
.ant-form-item-label label{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.ant-card{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrapper {
  width: 100%;
  height: 100vh;

  /* margin-top: 200px; */
  /* width: 200px; */
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  padding-right: 15vh;
  padding-left: 15vh;
}

.wrapper-card {
  width: 100%;
  height: 100vh;
  border: 1px solid #2d2d2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 15vh;
  padding-left: 15vh;
  text-align: left;
}


.ant-form-item-control-input-content {
  flex:none;
  max-width: 100%;
}

.tableShadow{
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
}

.ant-table-pagination.ant-pagination {
  margin: 16px 0;
  margin-right: 15px;
}

.ant-btn-icon-only.ant-btn-lg{
      height: 35px;
      display:block;
      width: 100px;
      margin: 0 auto;
}